# Ignore all of these files
Makefile
*.asc
*.txt
!GRHayL/Flux_Source/requirements.txt
*.bin
*.h5
*.o

# Ignore these directories
build/
test/
.vscode/
.idea/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
